
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.state{
  transition: fill-opacity 0.5s ease;
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 1;
}

.state:hover{
  fill-opacity:0.5;
}


/* bar chart */
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

/* legend */
#legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    padding-left: 0;
    padding-right: 0;
}

.list-inline {
  list-style: none;
  display: inline-block;
}

.list-inline > li {
  display: inline-block;
}

/* layout */

#app {
  display: flex;
  /* flex-direction: column; */
  width: 100vw;
  margin-top: 100px;
}

#options {
  text-align: center;
  margin-top: 20px;
}

*{
  padding: 0;
  margin:0;
}
